<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/ajax/libs/layui/css/layui.css}" media="all">
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<body class="white-bg">

<tr>
    <td>

        <div  class="col-sm-16" id ="juzhong">
            <img  th:each="u,var : ${list}"  th:src="${u.path}" style="width: 200px;height: 200px;margin-right: 10px" id="pic3";>
        </div>

    </td>

</tr>
<style>
    #juzhong{text-align:center; margin-top: 100px;
    }
</style>
</body>
</html>