<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/ajax/libs/layui/css/layui.css}" media="all">
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-vipAccount-edit" th:object="${vipAccount}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">用户id：</label>
				<div class="col-sm-8">
					<input id="vipId" name="vipId" th:field="*{vipId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户类型：</label>
				<div class="col-sm-8">
					<input id="accountType" name="accountType" th:field="*{accountType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户姓名：</label>
				<div class="col-sm-8">
					<input id="accountName" name="accountName" th:field="*{accountName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账户号：</label>
				<div class="col-sm-8">
					<input id="accountNumber" name="accountNumber" th:field="*{accountNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">反面：</label>
				<div class="col-sm-8">
					<button type="button" class="layui-btn" id="test1">
						上传图片
					</button>
					<input id="accountImg" name="accountImg" class="form-control" type="hidden">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-8">
					<img style="width: 200px;height: 200px;" id="pic" th:src="*{accountImg}">
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label">是否默认：</label>
				<div class="col-sm-8">
					<input id="isDefault" name="isDefault" th:field="*{isDefault}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "yishengxin/vipAccount";
		$("#form-vipAccount-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});

		layui.use('upload', function(){
			var upload = layui.upload;

			//执行实例
			var uploadInst = upload.render({
				elem: '#test1' //绑定元素
				,url: prefix+'/upload/' //上传接口
				,done: function(res){
					//上传完毕回调
					if(res.code == "0"){
						$("#pic").attr("src",res.msg);
						$("#accountImg").val(res.msg);
					}
				}
				,error: function(){
					//请求异常回调
				}
			});
		});

		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-vipAccount-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
