<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								用户的id：<input type="text" name="uid"/>
							</li>

							<li>
								商品名称：<input type="text" name="goodsName"/>
							</li>

							<li>
								商品详情：<input type="text" name="goodsDetails"/>
							</li>

							<li>
								商品价格：<input type="text" name="goodsPrice"/>
							</li>

							<li>
								商品购买数量：<input type="text" name="goodsSoldNumber"/>
							</li>

							<li>
								商品订单总额：<input type="text" name="goodsOrderTotalAmount"/>
							</li>

							<li>
								商品图片：<input type="text" name="goodsPicture"/>
							</li>

							<li>
								商品状态：<input type="text" name="goodsStatus"/>
							</li>

							<li>
								收货地址id：<input type="text" name="shippingAddress"/>
							</li>

							<li>
								快递单号：<input type="text" name="courierNumber"/>
							</li>

							<li>
								快递公司：<input type="text" name="courierCompany"/>
							</li>

							<li>
								订单号：<input type="text" name="orderNumber"/>
							</li>

							<li>
								创建者：<input type="text" name="createBy"/>
							</li>

							<li>
								创建时间：<input type="text" name="createTime"/>
							</li>

							<li>
								更新者：<input type="text" name="updateBy"/>
							</li>

							<li>
								更新时间：<input type="text" name="updateTime"/>
							</li>

							<li>
								备注：<input type="text" name="remark"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="yishengxin:goodsOrder:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="yishengxin:goodsOrder:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="yishengxin:goodsOrder:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="yishengxin:goodsOrder:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('yishengxin:goodsOrder:edit')}]];
        var removeFlag = [[${@permission.hasPermi('yishengxin:goodsOrder:remove')}]];
        var prefix = ctx + "yishengxin/goodsOrder";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "商品订单",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '商品订单id',
					visible: false
				},
				{
					field : 'uid', 
					title : '用户的id',
					sortable: true
				},
				{
					field : 'goodsName', 
					title : '商品名称',
					sortable: true
				},
				{
					field : 'goodsDetails', 
					title : '商品详情',
					sortable: true
				},
				{
					field : 'goodsPrice', 
					title : '商品价格',
					sortable: true
				},
				{
					field : 'goodsSoldNumber', 
					title : '商品购买数量',
					sortable: true
				},
				{
					field : 'goodsOrderTotalAmount', 
					title : '商品订单总额',
					sortable: true
				},
				{
					field : 'goodsPicture', 
					title : '商品图片',
					sortable: true
				},
				{
					field : 'goodsStatus', 
					title : '商品状态',
					sortable: true
				},
				{
					field : 'shippingAddress', 
					title : '收货地址id',
					sortable: true
				},
				{
					field : 'courierNumber', 
					title : '快递单号',
					sortable: true
				},
				{
					field : 'courierCompany', 
					title : '快递公司',
					sortable: true
				},
				{
					field : 'orderNumber', 
					title : '订单号',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '创建者',
					sortable: true
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateBy', 
					title : '更新者',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '更新时间',
					sortable: true
				},
				{
					field : 'remark', 
					title : '备注',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>