<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{/ajax/libs/layui/css/layui.css}" media="all">
<link th:href="@{/ajax/libs/summernote/summernote.css}" rel="stylesheet"/>
<link th:href="@{/ajax/libs/summernote/summernote-bs3.css}" rel="stylesheet"/>
<body class="white-bg">
<table border="1">
	<tr th:each="u,var : ${list}">
		<td>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-8">
					<!--<img src='http://122.114.239.176:'+'${u.path}" style="width: 200px;height: 200px;" id="pic3">-->
					<!--th:src=-->
					<!--<img src="th:text="${u.path}" style="width: 200px;height: 200px;" id="pic3">-->
					<img th:src="${u.path}" style="width: 200px;height: 200px;" id="pic3">
				</div>
			</div>
			<br/>
		</td>
		<td></td>

	</tr>
</table>
</body>
</html>