<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								订单号：<input type="text" name="orderNo"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="yishengxin:vipAppeal:add">
					<i class="fa fa-plus"></i> 添加
				</a>-->
				<!--<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="yishengxin:vipAppeal:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="yishengxin:vipAppeal:remove">
					<i class="fa fa-remove"></i> 删除
				</a>-->
				<!--<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="yishengxin:vipAppeal:export">
						<i class="fa fa-download"></i> 导出
				 </a>-->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('yishengxin:vipAppeal:edit')}]];
        var removeFlag = [[${@permission.hasPermi('yishengxin:vipAppeal:remove')}]];
        var prefix = ctx + "yishengxin/vipAppeal";
		var datas = [[${@dict.getType('vip_appeal_status')}]];
		var fail_duty = [[${@dict.getType('trade_fail_duty')}]];


        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "我的申诉",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id',
					title : '',
					visible: false
				},
				{
					field : 'salePhone',
					title : '卖家手机号',
					sortable: true
				},
				{
					field : 'orderNo',
					title : '订单号',
					sortable: true
				},
				{
					field : 'buyPhone',
					title : '买家手机号',
					sortable: true
				},
				{
					field : 'content',
					title : '申诉内容',
					width: '70%'
				},
				{
					field : 'appealTime',
					title : '申诉时间',
					sortable: true
				},
				{
					field : 'appealStatus',
					title : '申诉状态',
					align: 'center',
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(datas, value);
					}
				},
				{
					field : 'dutyFor',
					title : '责任归属',
					align: 'center',
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(fail_duty, value);
					}
				},
				{
					field : 'appealReason',
					title : '申诉原因(订单失败原因)',
					sortable: true
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						if(row.appealStatus == "1"){
							//申诉中才能处理
							actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>处理</a> ');
						}
						//actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
					}
				}]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>