<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<!--<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="yishengxin:vipTradeHkdBuy:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="yishengxin:vipTradeHkdBuy:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="yishengxin:vipTradeHkdBuy:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="yishengxin:vipTradeHkdBuy:export">
						<i class="fa fa-download"></i> 导出
				 </a>-->
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('yishengxin:vipTradeHkdBuy:edit')}]];
        var removeFlag = [[${@permission.hasPermi('yishengxin:vipTradeHkdBuy:remove')}]];
        var prefix = ctx + "yishengxin/vipTradeHkdBuy";
		var datas = [[${@dict.getType('ssl_hkd_trade_status')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "购买HKD",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'vipId', 
					title : '用户id',
					sortable: true
				},
				{
					field : 'buyStatus',
					title : '交易状态',
					align : 'center',
					formatter: function (value, row, index) {
						return $.table.selectDictLabel(datas, value);
					}
				},
				{
					field : 'buyNo', 
					title : '订单编号',
					sortable: true
				},
				{
					field : 'buyNumber', 
					title : '订单数量',
					sortable: true
				},
				{
					field : 'buyTotal', 
					title : '总金额',
					sortable: true
				},
				{
					field : 'buyTime', 
					title : '时间',
					sortable: true
				},
				{
					field : 'saleId', 
					title : '卖方ID',
					sortable: true
				},
				{
					field : 'salePhone', 
					title : '卖方手机号',
					sortable: true
				},
				{
					field : 'saleNickname', 
					title : '卖方名称',
					sortable: true
				},
				{
					field : 'saleAvater', 
					title : '卖方头像',
					sortable: true
				},
				{
					field : 'failReason', 
					title : '失败原因',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	//actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>