<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.CustomerMapper">
    
    <resultMap type="Customer" id="CustomerResult">
        <result property="id"    column="id"    />
        <result property="customerType"    column="customer_type"    />
        <result property="phone"    column="phone"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectCustomerVo">
        select id, customer_type, phone, create_by, create_time, update_by, update_time, remark from ysx_customer
    </sql>
	
    <select id="selectCustomerList" parameterType="Customer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="customerType != null  and customerType != '' "> and customer_type = #{customerType}</if>
             <if test="phone != null  and phone != '' "> and phone = #{phone}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectCustomerById" parameterType="Integer" resultMap="CustomerResult">
        <include refid="selectCustomerVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCustomer" parameterType="Customer" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_customer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="customerType != null  and customerType != ''  ">customer_type,</if>
			<if test="phone != null  and phone != ''  ">phone,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			create_time,

			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="customerType != null  and customerType != ''  ">#{customerType},</if>
			<if test="phone != null  and phone != ''  ">#{phone},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			sysdate(),
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateCustomer" parameterType="Customer">
        update ysx_customer
        <trim prefix="SET" suffixOverrides=",">
            <if test="customerType != null  and customerType != ''  ">customer_type = #{customerType},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteCustomerById" parameterType="Integer">
        delete from ysx_customer where id = #{id}
    </delete>
	
    <delete id="deleteCustomerByIds" parameterType="String">
        delete from ysx_customer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>