<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.GiftMapper">
    
    <resultMap type="Gift" id="GiftResult">
        <result property="id"    column="id"    />
        <result property="newGift"    column="new_gift"    />
        <result property="dayGift"    column="day_gift"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectGiftVo">
        select id, new_gift, day_gift, create_by, create_time, update_by, update_time, remark from ysx_gift
    </sql>
	
    <select id="selectGiftList" parameterType="Gift" resultMap="GiftResult">
        <include refid="selectGiftVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="newGift != null "> and new_gift = #{newGift}</if>
             <if test="dayGift != null "> and day_gift = #{dayGift}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectGiftById" parameterType="Integer" resultMap="GiftResult">
        <include refid="selectGiftVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGift" parameterType="Gift" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_gift
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="newGift != null  ">new_gift,</if>
			<if test="dayGift != null  ">day_gift,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="updateBy != null  and updateBy != ''  ">update_by,</if>
			<if test="updateTime != null  ">update_time,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="newGift != null  ">#{newGift},</if>
			<if test="dayGift != null  ">#{dayGift},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateGift" parameterType="Gift">
        update ysx_gift
        <trim prefix="SET" suffixOverrides=",">
            <if test="newGift != null  ">new_gift = #{newGift},</if>
            <if test="dayGift != null  ">day_gift = #{dayGift},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            <if test="updateTime != null  ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteGiftById" parameterType="Integer">
        delete from ysx_gift where id = #{id}
    </delete>
	
    <delete id="deleteGiftByIds" parameterType="String">
        delete from ysx_gift where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>