<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.PlatDataMapper">
    
    <resultMap type="PlatData" id="PlatDataResult">
        <result property="id"    column="id"    />
        <result property="platAccount"    column="plat_account"    />
        <result property="newsBigPic"    column="news_big_pic"    />
        <result property="noticeBigPic"    column="notice_big_pic"    />
        <result property="tradeBegin"    column="trade_begin"    />
        <result property="tradeEnd"    column="trade_end"    />
    </resultMap>
	
	<sql id="selectPlatDataVo">
        select id, plat_account, news_big_pic, notice_big_pic,trade_begin,trade_end from ysx_plat_data
    </sql>
	
    <select id="selectPlatDataList" parameterType="PlatData" resultMap="PlatDataResult">
        <include refid="selectPlatDataVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="platAccount != null  and platAccount != '' "> and plat_account = #{platAccount}</if>
             <if test="newsBigPic != null  and newsBigPic != '' "> and news_big_pic = #{newsBigPic}</if>
             <if test="noticeBigPic != null  and noticeBigPic != '' "> and notice_big_pic = #{noticeBigPic}</if>
            <if test="tradeBegin != null  and tradeBegin != '' "> and trade_begin = #{tradeBegin}</if>
            <if test="tradeEnd != null  and tradeEnd != '' "> and trade_end = #{tradeEnd}</if>
         </where>
    </select>
    
    <select id="selectPlatDataById" parameterType="Integer" resultMap="PlatDataResult">
        <include refid="selectPlatDataVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPlatData" parameterType="PlatData" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_plat_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="platAccount != null  and platAccount != ''  ">plat_account,</if>
			<if test="newsBigPic != null  and newsBigPic != ''  ">news_big_pic,</if>
			<if test="noticeBigPic != null  and noticeBigPic != ''  ">notice_big_pic,</if>
            <if test="tradeBegin != null  and tradeBegin != ''  ">trade_begin,</if>
            <if test="tradeEnd != null  and tradeEnd != ''  ">trade_end,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="platAccount != null  and platAccount != ''  ">#{platAccount},</if>
			<if test="newsBigPic != null  and newsBigPic != ''  ">#{newsBigPic},</if>
			<if test="noticeBigPic != null  and noticeBigPic != ''  ">#{noticeBigPic},</if>
            <if test="tradeBegin != null  and tradeBegin != ''  ">#{tradeBegin},</if>
            <if test="tradeEnd != null  and tradeEnd != ''  ">#{tradeEnd},</if>
         </trim>
    </insert>
	 
    <update id="updatePlatData" parameterType="PlatData">
        update ysx_plat_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="platAccount != null  and platAccount != ''  ">plat_account = #{platAccount},</if>
            <if test="newsBigPic != null  and newsBigPic != ''  ">news_big_pic = #{newsBigPic},</if>
            <if test="noticeBigPic != null  and noticeBigPic != ''  ">notice_big_pic = #{noticeBigPic},</if>
            <if test="tradeBegin != null  and tradeBegin != ''  ">trade_begin = #{tradeBegin},</if>
            <if test="tradeEnd != null  and tradeEnd != ''  ">trade_end = #{tradeEnd},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePlatDataById" parameterType="Integer">
        delete from ysx_plat_data where id = #{id}
    </delete>
	
    <delete id="deletePlatDataByIds" parameterType="String">
        delete from ysx_plat_data where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>