<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.ProjectMapper">
    
    <resultMap type="Project" id="ProjectResult">
        <result property="id"    column="id"    />
        <result property="projectTitle"    column="project_title"    />
        <result property="projectTime"    column="project_time"    />
        <result property="projectPic"    column="project_pic"    />
        <result property="projectIntroduction"    column="project_introduction"    />
        <result property="projectContent"    column="project_content"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="maxNumber"    column="max_number"    />
        <result property="minNumber"    column="min_number"    />
        <result property="projectNumber"    column="project_number"    />
        <result property="projectOver"    column="project_over"    />
    </resultMap>
	
	<sql id="selectProjectVo">
        select id, project_title, project_time, project_number,project_over,project_pic, project_introduction, project_content,unit_price,max_number,min_number  from ysx_project
    </sql>
	
    <select id="selectProjectList" parameterType="Project" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="projectTitle != null  and projectTitle != '' "> and project_title = #{projectTitle}</if>
             <if test="projectTime != null  and projectTime != '' "> and project_time = #{projectTime}</if>
             <if test="projectPic != null  and projectPic != '' "> and project_pic = #{projectPic}</if>
             <if test="projectIntroduction != null  and projectIntroduction != '' "> and project_introduction = #{projectIntroduction}</if>
             <if test="projectContent != null  and projectContent != '' "> and project_content = #{projectContent}</if>
             <if test="unitPrice != null  and unitPrice != '' "> and unit_price = #{unitPrice}</if>
             <if test="maxNumber != null  and maxNumber != '' "> and max_number = #{maxNumber}</if>
             <if test="minNumber != null  and minNumber != '' "> and min_number = #{minNumber}</if>
            <if test="projectNumber != null  and projectNumber != '' "> and project_number = #{projectNumber}</if>
            <if test="projectOver != null  and projectOver != '' "> and project_over = #{projectOver}</if>
         </where>
        ${params.Project}
    </select>
    
    <select id="selectProjectById" parameterType="Integer" resultMap="ProjectResult">
        <include refid="selectProjectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertProject" parameterType="Project" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectTitle != null  and projectTitle != ''  ">project_title,</if>
			<if test="projectTime != null  and projectTime != ''  ">project_time,</if>
			<if test="projectPic != null  and projectPic != ''  ">project_pic,</if>
			<if test="projectIntroduction != null  and projectIntroduction != ''  ">project_introduction,</if>
			<if test="projectContent != null  and projectContent != ''  ">project_content,</if>
            <if test="unitPrice != null  and unitPrice != ''  ">unit_price,</if>
            <if test="maxNumber != null  and maxNumber != ''  ">max_number,</if>
            <if test="minNumber != null  and minNumber != ''  ">min_number,</if>
            <if test="projectNumber != null  and projectNumber != ''  ">project_number,</if>
            <if test="projectOver != null  and projectOver != ''  ">project_over,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="projectTitle != null  and projectTitle != ''  ">#{projectTitle},</if>
			<if test="projectTime != null  and projectTime != ''  ">#{projectTime},</if>
			<if test="projectPic != null  and projectPic != ''  ">#{projectPic},</if>
			<if test="projectIntroduction != null  and projectIntroduction != ''  ">#{projectIntroduction},</if>
			<if test="projectContent != null  and projectContent != ''  ">#{projectContent},</if>
            <if test="unitPrice != null  and unitPrice != ''  ">#{unitPrice},</if>
            <if test="maxNumber != null  and maxNumber != ''  ">#{maxNumber},</if>
            <if test="minNumber != null  and minNumber != ''  ">#{minNumber},</if>
            <if test="projectNumber != null  and projectNumber != ''  ">#{projectNumber},</if>
            <if test="projectOver != null  and projectOver != ''  ">#{projectOver},</if>
         </trim>
    </insert>
	 
    <update id="updateProject" parameterType="Project">
        update ysx_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectTitle != null  and projectTitle != ''  ">project_title = #{projectTitle},</if>
            <if test="projectTime != null  and projectTime != ''  ">project_time = #{projectTime},</if>
            <if test="projectPic != null  and projectPic != ''  ">project_pic = #{projectPic},</if>
            <if test="projectIntroduction != null  and projectIntroduction != ''  ">project_introduction = #{projectIntroduction},</if>
            <if test="projectContent != null  and projectContent != ''  ">project_content = #{projectContent},</if>
            <if test="unitPrice != null  and unitPrice != ''  ">unit_price = #{unitPrice},</if>
            <if test="maxNumber != null  and maxNumber != ''  ">max_number = #{maxNumber},</if>
            <if test="minNumber != null  and minNumber != ''  ">min_number = #{minNumber},</if>
            <if test="projectNumber != null  and projectNumber != ''  ">project_number = #{projectNumber},</if>
            <if test="projectOver != null  and projectOver != ''  ">project_over = #{projectOver},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteProjectById" parameterType="Integer">
        delete from ysx_project where id = #{id}
    </delete>
	
    <delete id="deleteProjectByIds" parameterType="String">
        delete from ysx_project where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>