<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.RollMessageMapper">
    
    <resultMap type="RollMessage" id="RollMessageResult">
        <result property="id"    column="id"    />
        <result property="rollTitle"    column="roll_title"    />
        <result property="rollContent"    column="roll_content"    />
        <result property="isShow"    column="is_show"    />
    </resultMap>
	
	<sql id="selectRollMessageVo">
        select id, roll_title, roll_content, is_show from ysx_roll_message
    </sql>
	
    <select id="selectRollMessageList" parameterType="RollMessage" resultMap="RollMessageResult">
        <include refid="selectRollMessageVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="rollTitle != null  and rollTitle != '' "> and roll_title = #{rollTitle}</if>
             <if test="rollContent != null  and rollContent != '' "> and roll_content = #{rollContent}</if>
             <if test="isShow != null  and isShow != '' "> and is_show = #{isShow}</if>
         </where>
    </select>
    
    <select id="selectRollMessageById" parameterType="Integer" resultMap="RollMessageResult">
        <include refid="selectRollMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRollMessage" parameterType="RollMessage" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_roll_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rollTitle != null  and rollTitle != ''  ">roll_title,</if>
			<if test="rollContent != null  and rollContent != ''  ">roll_content,</if>
			<if test="isShow != null  and isShow != ''  ">is_show,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rollTitle != null  and rollTitle != ''  ">#{rollTitle},</if>
			<if test="rollContent != null  and rollContent != ''  ">#{rollContent},</if>
			<if test="isShow != null  and isShow != ''  ">#{isShow},</if>
         </trim>
    </insert>
	 
    <update id="updateRollMessage" parameterType="RollMessage">
        update ysx_roll_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="rollTitle != null  and rollTitle != ''  ">roll_title = #{rollTitle},</if>
            <if test="rollContent != null  and rollContent != ''  ">roll_content = #{rollContent},</if>
            <if test="isShow != null  and isShow != ''  ">is_show = #{isShow},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteRollMessageById" parameterType="Integer">
        delete from ysx_roll_message where id = #{id}
    </delete>
	
    <delete id="deleteRollMessageByIds" parameterType="String">
        delete from ysx_roll_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>