<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.RollMessageMapper">
    
    <resultMap type="RollMessage" id="RollMessageResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="description"    column="description"    />
        <result property="rolltime"    column="rolltime"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectRollMessageVo">
        select id, title, content, description, rolltime, create_by, create_time, update_by, update_time, remark from ysx_roll_message
    </sql>
	
    <select id="selectRollMessageList" parameterType="RollMessage" resultMap="RollMessageResult">
        <include refid="selectRollMessageVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
             <if test="description != null  and description != '' "> and description = #{description}</if>
             <if test="rolltime != null  and rolltime != '' "> and rolltime = #{rolltime}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>
    </select>
    
    <select id="selectRollMessageById" parameterType="Integer" resultMap="RollMessageResult">
        <include refid="selectRollMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRollMessage" parameterType="RollMessage" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_roll_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title,</if>
			<if test="content != null  and content != ''  ">content,</if>
			<if test="description != null  and description != ''  ">description,</if>
			<if test="rolltime != null  and rolltime != ''  ">rolltime,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
			create_time,
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
			<if test="description != null  and description != ''  ">#{description},</if>
			<if test="rolltime != null  and rolltime != ''  ">#{rolltime},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			sysdate(),
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateRollMessage" parameterType="RollMessage">
        update ysx_roll_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
            <if test="description != null  and description != ''  ">description = #{description},</if>
            <if test="rolltime != null  and rolltime != ''  ">rolltime = #{rolltime},</if>

            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteRollMessageById" parameterType="Integer">
        delete from ysx_roll_message where id = #{id}
    </delete>
	
    <delete id="deleteRollMessageByIds" parameterType="String">
        delete from ysx_roll_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>