<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.TradeExplainMapper">
    
    <resultMap type="TradeExplain" id="TradeExplainResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
    </resultMap>
	
	<sql id="selectTradeExplainVo">
        select id, title, content from ysx_trade_explain
    </sql>
	
    <select id="selectTradeExplainList" parameterType="TradeExplain" resultMap="TradeExplainResult">
        <include refid="selectTradeExplainVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="content != null  and content != '' "> and content = #{content}</if>
         </where>
    </select>
    
    <select id="selectTradeExplainById" parameterType="Integer" resultMap="TradeExplainResult">
        <include refid="selectTradeExplainVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTradeExplain" parameterType="TradeExplain" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_trade_explain
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">title,</if>
			<if test="content != null  and content != ''  ">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="content != null  and content != ''  ">#{content},</if>
         </trim>
    </insert>
	 
    <update id="updateTradeExplain" parameterType="TradeExplain">
        update ysx_trade_explain
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="content != null  and content != ''  ">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteTradeExplainById" parameterType="Integer">
        delete from ysx_trade_explain where id = #{id}
    </delete>
	
    <delete id="deleteTradeExplainByIds" parameterType="String">
        delete from ysx_trade_explain where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>