<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.yishengxin.mapper.goods.GoodsShareMapper">
    
    <resultMap type="GoodsShare" id="GoodsShareResult">
        <result property="id"    column="id"    />
        <result property="uid"    column="uid"    />
        <result property="bounty"    column="bounty"    />
        <result property="createBy"    column="createBy"    />
        <result property="createTime"    column="createTime"    />
        <result property="updateBy"    column="updateBy"    />
        <result property="updateTime"    column="updateTime"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectGoodsShareVo">
        select id, uid, bounty, createBy, createTime, updateBy, updateTime, remark from ysx_goods_share
    </sql>
	
    <select id="selectGoodsShareList" parameterType="GoodsShare" resultMap="GoodsShareResult">
        <include refid="selectGoodsShareVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="uid != null "> and uid = #{uid}</if>
             <if test="bounty != null  and bounty != '' "> and bounty = #{bounty}</if>
             <if test="createBy != null  and createBy != '' "> and createBy = #{createBy}</if>
             <if test="createTime != null "> and createTime = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and updateBy = #{updateBy}</if>
             <if test="updateTime != null "> and updateTime = #{updateTime}</if>
             <if test="remark != null  and remark != '' "> and remark = #{remark}</if>
         </where>  order by createTime DESC
    </select>
    
    <select id="selectGoodsShareById" parameterType="Integer" resultMap="GoodsShareResult">
        <include refid="selectGoodsShareVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertGoodsShare" parameterType="GoodsShare" useGeneratedKeys="true" keyProperty="id">
        insert into ysx_goods_share
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null  ">uid,</if>
			<if test="bounty != null  and bounty != ''  ">bounty,</if>
			<if test="createBy != null  and createBy != ''  ">createBy,</if>
			<if test="createTime != null  ">createTime,</if>
			<if test="updateBy != null  and updateBy != ''  ">updateBy,</if>
			<if test="updateTime != null  ">updateTime,</if>
			<if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null  ">#{uid},</if>
			<if test="bounty != null  and bounty != ''  ">#{bounty},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="updateBy != null  and updateBy != ''  ">#{updateBy},</if>
			<if test="updateTime != null  ">#{updateTime},</if>
			<if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateGoodsShare" parameterType="GoodsShare">
        update ysx_goods_share
        <trim prefix="SET" suffixOverrides=",">
            <if test="uid != null  ">uid = #{uid},</if>
            <if test="bounty != null  and bounty != ''  ">bounty = #{bounty},</if>
            <if test="createBy != null  and createBy != ''  ">createBy = #{createBy},</if>
            <if test="createTime != null  ">createTime = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">updateBy = #{updateBy},</if>
            <if test="updateTime != null  ">updateTime = #{updateTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteGoodsShareById" parameterType="Integer">
        delete from ysx_goods_share where id = #{id}
    </delete>
	
    <delete id="deleteGoodsShareByIds" parameterType="String">
        delete from ysx_goods_share where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>