<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-trade-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">跌幅谷值：</label>
				<div class="col-sm-8">
					<input id="low" name="low" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">涨幅峰值：</label>
				<div class="col-sm-8">
					<input id="high" name="high" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">每天ssl最大互转量：</label>
				<div class="col-sm-8">
					<input id="maxSslDeliverDay" name="maxSslDeliverDay" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">每笔ssl最低互转量：</label>
				<div class="col-sm-8">
					<input id="minSslDeliverTime" name="minSslDeliverTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">每天最大交易量：</label>
				<div class="col-sm-8">
					<input id="maxSslTradeDay" name="maxSslTradeDay" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">每笔ssl最大交易额：</label>
				<div class="col-sm-8">
					<input id="maxSslTradeTime" name="maxSslTradeTime" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">每天hdk最大互转量：</label>
				<div class="col-sm-8">
					<input id="maxHdkDeliverDay" name="maxHdkDeliverDay" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">每次hdk最低互转量：</label>
				<div class="col-sm-8">
					<input id="minHdkDeliverTime" name="minHdkDeliverTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">每次HDK最大交易量：</label>
				<div class="col-sm-8">
					<input id="maxHdkTradeTime" name="maxHdkTradeTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">每天hdk最大交易量：</label>
				<div class="col-sm-8">
					<input id="maxHdkTradeDay" name="maxHdkTradeDay" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">卖HKD手续费：</label>
				<div class="col-sm-8">
					<input id="hkdCharge" name="hkdCharge" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">卖SSL手续费：</label>
				<div class="col-sm-8">
					<input id="sslCharge" name="sslCharge" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">交易失败卖家责任手续费：</label>
				<div class="col-sm-8">
					<input id="saleDutyCharge" name="saleDutyCharge" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">锁仓最低值：</label>
				<div class="col-sm-8">
					<input id="minLockPosition" name="minLockPosition" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">锁仓整数倍限制：</label>
				<div class="col-sm-8">
					<input id="lockMultipleNumber" name="lockMultipleNumber" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">中途中断锁仓手续费：</label>
				<div class="col-sm-8">
					<input id="lockBreakCharge" name="lockBreakCharge" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">1个月利率：</label>
				<div class="col-sm-8">
					<input id="oneRate" name="oneRate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">3个月利率：</label>
				<div class="col-sm-8">
					<input id="threeRate" name="threeRate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">6个月利率：</label>
				<div class="col-sm-8">
					<input id="sixRate" name="sixRate" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">12个月利率：</label>
				<div class="col-sm-8">
					<input id="twelveRate" name="twelveRate" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "yishengxin/trade"
		$("#form-trade-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-trade-add').serialize());
	        }
	    }
	</script>
</body>
</html>
