<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<!--<ul>
							<li>
								跌幅谷值：<input type="text" name="low"/>
							</li>

							<li>
								涨幅峰值：<input type="text" name="high"/>
							</li>

							<li>
								每天ssl最大互转量：<input type="text" name="maxSslDeliverDay"/>
							</li>

							<li>
								每笔ssl最低互转量：<input type="text" name="minSslDeliverTime"/>
							</li>

							<li>
								每天最大交易量：<input type="text" name="maxSslTradeDay"/>
							</li>

							<li>
								每笔ssl最大交易额：<input type="text" name="maxSslTradeTime"/>
							</li>

							<li>
								卖HKD手续费：<input type="text" name="hkdCharge"/>
							</li>

							<li>
								卖SSL手续费：<input type="text" name="sslCharge"/>
							</li>

							<li>
								锁仓最低值：<input type="text" name="minLockPosition"/>
							</li>

							<li>
								锁仓整数倍限制：<input type="text" name="lockMultipleNumber"/>
							</li>

							<li>
								中途中断锁仓手续费：<input type="text" name="lockBreakCharge"/>
							</li>

							<li>
								1个月利率：<input type="text" name="oneRate"/>
							</li>

							<li>
								3个月利率：<input type="text" name="threeRate"/>
							</li>

							<li>
								6个月利率：<input type="text" name="sixRate"/>
							</li>

							<li>
								12个月利率：<input type="text" name="twelveRate"/>
							</li>

							<li>
								创建者：<input type="text" name="createBy"/>
							</li>

							<li>
								创建时间：<input type="text" name="createTime"/>
							</li>

							<li>
								更新者：<input type="text" name="updateBy"/>
							</li>

							<li>
								更新时间：<input type="text" name="updateTime"/>
							</li>

							<li>
								备注：<input type="text" name="remark"/>
							</li>

							<li>
								每天hdk最大互转量：<input type="text" name="maxHdkDeliverDay"/>
							</li>

							<li>
								每次hdk最低互转量：<input type="text" name="minHdkDeliverTime"/>
							</li>

							<li>
								每次HDK最大交易量：<input type="text" name="maxHdkTradeTime"/>
							</li>

							<li>
								每天hdk最大交易量：<input type="text" name="maxHdkTradeDay"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>-->
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="yishengxin:trade:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="yishengxin:trade:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="yishengxin:trade:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('yishengxin:trade:edit')}]];
        var removeFlag = [[${@permission.hasPermi('yishengxin:trade:remove')}]];
        var prefix = ctx + "yishengxin/trade";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "交易设置",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : 'ID',
					visible: false
				},
				{
					field : 'low', 
					title : '跌幅谷值',
					sortable: true
				},
				{
					field : 'high', 
					title : '涨幅峰值',
					sortable: true
				},
				{
					field : 'maxSslDeliverDay', 
					title : '每天ssl最大互转量',
					sortable: true
				},
				{
					field : 'minSslDeliverTime', 
					title : '每笔ssl最低互转量',
					sortable: true
				},
				{
					field : 'maxHdkDeliverDay',
					title : '每天hdk最大互转量',
					sortable: true
				},
				{
					field : 'minHdkDeliverTime',
					title : '每次hdk最低互转量',
					sortable: true
				},
				{
					field : 'maxHdkTradeTime',
					title : '每次HDK最大交易百分比(%)',
					sortable: true
				},
				{
					field : 'maxHdkTradeDay',
					title : '每天hdk最大交易百分比(%)',
					sortable: true
				},
				{
					field : 'maxSslTradeDay', 
					title : '每天ssl最大交易百分比(%)',
					sortable: true
				},
				{
					field : 'maxSslTradeTime', 
					title : '每笔ssl最大交易百分比(%)',
					sortable: true
				},
				{
					field : 'hkdCharge', 
					title : '卖HKD手续费',
					sortable: true
				},
				{
					field : 'sslCharge', 
					title : '卖SSL手续费',
					sortable: true
				},
				{
					field : 'saleDutyCharge',
					title : '交易失败卖家责任手续费',
					sortable: true
				},
				{
					field : 'minLockPosition', 
					title : '锁仓最低值',
					sortable: true
				},
				{
					field : 'lockMultipleNumber', 
					title : '锁仓整数倍限制',
					sortable: true
				},
				{
					field : 'lockBreakCharge', 
					title : '中途中断锁仓手续费',
					sortable: true
				},
				{
					field : 'oneRate', 
					title : '1个月利率',
					sortable: true
				},
				{
					field : 'threeRate', 
					title : '3个月利率',
					sortable: true
				},
				{
					field : 'sixRate', 
					title : '6个月利率',
					sortable: true
				},
				{
					field : 'twelveRate', 
					title : '12个月利率',
					sortable: true
				},

		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>